@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

.gallery {
  position: relative;
  margin-top: 100px;
  display: flex;
  width: 100%;
  height:auto;

  .maintext1 {
    position: absolute;
    width: 40%;
    right: 0;
    margin-right: 5%;
    margin-top: 3%;
    text-indent: 30px;
    &__paragraph {
      font-size: 1.4vw;
      color: #563210;
      font-family: "Arima Madurai", cursive;
    }
  }

  .maintext2 {
    position: absolute;
    width: 37%;
    left: 0;
    margin-left: 2%;
    margin-top: 35%;
    &__paragraph {
      font-size: 1.4vw;
      color: #563210;
      font-family: "Arima Madurai", cursive;
      text-indent: 30px;
    }
  }

  .shop1 {
    position: absolute;
    width: 50%;
    height: auto;
  }
  .shop2 {
    margin-left:40%;
    width: 60%;
    height: auto;
    margin-top: 20%;
  }
}
