.onlinestore{
    width:80%;
    margin:0 auto;
    margin-top:150px;
    text-align:center;
    height: auto;
    position:relative;

    h1{
        font-family: "Raleway", sans-serif;
        font-size:5rem;
        color:#563210;
        letter-spacing: 4px;
    }
    p{
        font-family: "Raleway", sans-serif;
        font-size:2rem;
        letter-spacing: 2px;
        margin-top:20px;
    }
    
    button{
        background-color:#e9dcc3;
        color:black;
        border:2px solid #563210;
        text-align: center;
        text-decoration: none;
        padding: 18px 48px;
        cursor:pointer;
        font-size:1.5rem;
        margin-top:25px;
        border-radius: 5px;
    }


}