@import "opening";
@import "navbar";
@import "about";
@import "gallery";
@import "gallery_animations";
@import "menu";
@import "onlinestore";
@import "contact";
@import "footer";
@import "config";
@import "responsive";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ebe4d6;
  overflow-x: hidden;
}
